.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.officeimg{
  width: 600px;
  height: 350px;
  margin-left: -820px;
  margin-top: 100px;
}

.forgot{
 margin-left: 300px;
 /* margin-top: -300px; */
}

.contactme{
  margin-left: 300px;
 margin-top: -365px;
}

.github{
  padding-left: 20px;
  margin-top: 100px;
}

.eriver{
  width: 400px;
  height: 400px;
  margin-left: -725px;
}

.eastbtn{
  background: red;
  color: white;
  padding: 10px;
  margin-left: -250px;
/* bottom: 250px; */
  z-index: 1
}

.etitle{
  margin-left: -575px;
  /* margin-top: 50px; */

}

.ruckcard{
  margin-left: 1000px;
  margin-top: -435px;
}



