.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.officeimg{
  width: 600px;
  height: 350px;
  margin-left: -820px;
  margin-top: 600px;
}

.forgot{
 margin-left: 300px;
 margin-top: 0px;
}

.contactme{
  margin-left: 475px;
 margin-top: -390px;
}


.github{
  padding-left: 20px;
  margin-top: 100px;
}

.eriver{
  width: 400px;
  height: 400px;
  margin-left: 30px;
}

.eastbtn{
  background: red;
  color: white;
  padding: 10px;
  /* margin-left: -250px; */
  margin-top: -250px;
/* bottom: 250px; */
  z-index: 1
}

.ecard{
  margin-left: -575px;
}
.ruckbtn{
  background: blue;
  color: white;
  padding: 10px;
  margin-left: -550px;
  margin-top: -500px;
/* bottom: 250px; */
  z-index: 1
}

.etitle{
  color: blue;
  font-weight: bold;
  font-size: 30px;
  /* margin-left: -275px; */
  /* margin-top: 50px; */

}

.ruckcard{
  margin-left: 690px;
  margin-top: -470px;
  width:450px;
  
}

.ruckimg{
  width: 400px;
  height: 400px;
  margin-left: 10px;
  z-index: 0;
}

.rtitle{
  margin-left: 120px;
width: 200px;
color: blue;
font-weight: bold;
font-size: 30px;
}

.ruckbtn{
  background: blue;
  color: white;
  margin-top: -550px !important;
  margin-left: 30px !important;
  z-index: 5;
}

.vhome{
  width: 400px;
  height: 400px;
  margin-left:150px;
}

.vtitle{
  margin-left: 150px;
  font-weight: bold;
  color: blue;
  font-size: 30px;
}

.vcard{
  margin-left: -150px;
}

.vbtn{
  margin-left: -150px;
  background:blue;
  height: 500px;
}

.darkbtn{
  margin-left: 1200px;
   background:white;
  /* color: white; */ 
  /* padding: 5px; */
  
}

.slide{
  width: 30px;
  height: 30px;
  background-color: white;
  padding: 10px;
}

.time{
  margin-left: 400px;
  margin-top: 100px;
  /* color: white; */
}

.timehead{
  margin-left: -450px;
  
}
/* .me{
  color: white;
} */



body{
  background-image: url(./components/assets/back2.png);
  /* background-repeat: no-repeat; */
  background-size: cover;
  opacity: 1.8;
  /* background-color: blue; */
}

.webpro{
  margin-top: 50px;
}

.mongo{
  width: 100px;
  height: 100px;
  padding: 20px;
}

.contactcontain{
  margin-top: -400px;
  
}

.workBtn{
  background: blue;
  color: white;
  padding:10px;
  font-weight: bold;
}

.stack{
  color: red;
  font-size: 40px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.ben{
  font-size: 40px;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

.namecontact{
  width: 550px;
  height: 40px;
  margin-left: 200px;
}

.emailcontact{
  width: 550px;
  height: 40px;
  margin-left: 200px;
}

.messagecontact{
  width: 550px;
  height: 250px;
  margin-left: 200px;
}
.btn-info{
background: blue;
color: white;
padding: 10px;
margin-top: 10px;
margin-left: 200px;
}

.resumeBtn{
  /* margin-left: -100px; */
  font-weight: bold;
  background: blue;
  color: white;
  padding: 10px;
  width: 125px;
margin-top: -100px !important
  /* margin-bottom:145px;
   */
   
}


@media screen and (max-width: 992px){
.ben{
  
  font-size: 20px;
}

.stack{
  font-size: 15px;
  margin-left: 190px;
  width: 60vw;
}
.me{
  margin-top:-5px;
 
}


.mytech{

  font-size: 15px;
}

.mongo{
  margin-left: -300px;
  height: 80px;
width: 5vw;
}

.ptitle{
 
  font-size: 15px;
}

.ruckcard{
  margin-left: 500px;
}

.officeimg{
  width: 250px;
  margin-left: -600px;
}

.forgot{
  margin-left: 70px;
}

.contactme{
  margin-left: 250px;
}


}

@media screen and (max-width: 750px){
  
}

@media screen and (max-width: 475px){
  
}
