.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.officeimg{
  width: 600px;
  height: 350px;
  margin-left: -820px;
  margin-top: 600px;
}

.forgot{
 margin-left: 300px;
 margin-top: 0px;
}

.contactme{
  margin-left: 325px;
 margin-top: -280px;
}


.github{
  padding-left: 20px;
  margin-top: 100px;
}

.eriver{
  width: 400px;
  height: 400px;
  margin-left: 30px;
}

.eastbtn{
  background: red;
  color: white;
  padding: 10px;
  margin-left: -250px;
  margin-top: -250px;
/* bottom: 250px; */
  z-index: 1
}

.ecard{
  margin-left: -800px;
}
.ruckbtn{
  background: red;
  color: white;
  padding: 10px;
  /* margin-left: 150px; */
  margin-top: -500px;
/* bottom: 250px; */
  z-index: 1
}

.etitle{
  /* margin-left: -575px; */
  /* margin-top: 50px; */

}

.ruckcard{
  margin-left: 690px;
  margin-top: -435px;
  width:450px;
  
}

.ruckimg{
  width: 400px;
  height: 400px;
  margin-left: 10px;
}

.rtitle{
  margin-left: 100px;
width: 200px;
}

.vhome{
  width: 400px;
  height: 400px;
  margin-left: -775px;
}

.vtitle{
  margin-left: -550px;
}

.darkbtn{
  margin-left: 1200px;
   background:white;
  /* color: white; */ 
  /* padding: 5px; */
  
}

.slide{
  width: 30px;
  height: 30px;
  background-color: white;
  padding: 10px;
}

.time{
  margin-left: 400px;
  margin-top: 100px;
}

.timehead{
  margin-left: -450px;
}
